<p id="notice"><%= notice %></p>
<h1>Articles</h1>
<div>
  <%= form_with url: article_search_path, method: :get, data: { controller: "search", search_target: "form", turbo_frame: "articles" } do |form| %>
    <%= form.text_field :title,
      placeholder: "Search by title",
      autocomplete: "off",
      data: { action: "input->search#search" }
    %>
  <% end %>
</div>
<%= turbo_frame_tag "articles" do %>
  <% articles.each do |article| %>
    <h1><%= article.title %></h1>
    <p><%= article.body %></p>
  <% end %>
<% end %>
<!-- Snip the table -->
